# Configuration file
# Generated on 17/09/12 7:33 PM

####################
# modules 
####################

modules {
   automation=true
   buildcraft=true
   extras=true
   factory=true
   ic2=true
   rails=true
   signals=true
   structures=true
   train=true
   transport=true
}

